*.a
*.o

session.vim
.tags

/doc/*.html

/examples/http-client
/examples/http-server
/examples/uri

/tests/auth
/tests/base64
/tests/chunked-coding
/tests/path
/tests/router
/tests/strings
/tests/uri
